* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: color #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: #3d423e;
    padding: 20px;
    border-radius: 10px;
}
h3{
    color: white;
    text-transform: uppercase;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px  rgba(118, 189, 5, 0.808);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}
 form .Display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .Display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
  
}
form input.equal{
    width: 145px;
}